.MyApply-title{
 font-family: PingFangSC-Medium;
  font-size: 18pt;
  color: rgb(39 38 54)
}
.MyApply-text{
  float: right;
  font-family: PingFangSC-Regular;
  font-size: 12pt;
  color: rgb(205 196 196)
}
.MyApply-font{
  font-family: PingFangSC-Regular;
  font-size: 12pt;
  color: rgb(205 196 196)
}
