.image-text{
  font-size: 22px;
  background-color: #fff;
  line-height: 80px;
  padding-left: 20px
}
.apply{
  font-family:PingFangSC-Regular;
  font-size: 14pt;
  color: rgb(68 68 68)
}
.exit-button{
  position:absolute;
  bottom:55px;
  width: 100%;
  text-align: center
}
