.container{
  background-color: rgb(248, 247, 247);
  height: 100%;
  display: flex;
  flex-direction: column
}
.card{
  margin-top: 10px;
}
.author-date{
  flex-direction: row;
  margin-top: 30px
}
.author-text{
  vertical-align: middle;
  margin-left: 50px;
  margin-top: -40px
}
.author{
  font-family: PingFangSC-Medium;
  font-size: 18pt;
  color: rgb(39 38 54)
}
.const-text{
 float: right;
  font-family: PingFangSC-Regular;
  font-size: 12pt;
  color: rgb(205 196 196);
  margin-top: -30px
}
.tool{
  font-family: PingFangSC-Regular;
  font-size: 12pt;
  color: rgb(205 196 196)
}
